body{
    background-color:rgb(101, 185, 17);
    margin:auto;
    width: 90%;
}

a{
    text-decoration: none;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 10%;
}

table tr td{
    border-bottom: 1px solid black;
}


button{cursor: pointer;}


#successmessage{
    background-color: rgba(87, 87, 245, 0.945);
    color: white;
    opacity: 0;
}

#errormessage{
    background-color: rgba(236, 132, 132, 0.945);
    color: rgb(251, 4, 4);
    opacity: 0;
}




img{
width:30px;
height: 30px;
position:relative;
top:30%;
left:5%;
z-index:1;
float: left;









}



